<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}

</head>

<body>
    {% include "header.html" %}
    <form action="/busqueda_desp/" method="GET">
        Ingrese numero despacho <input type="text" name="txt_producto">
        <input type="submit" value="Buscar">
    </form>
    {% include "footer.html" %}

</body>

</html>