<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar producto</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_mod.css' %}">

</head>
<header>{% include "header.html" %}</header>
<body>
    
    
    <form action="/eliminacion_pedido/" method="GET" class="formulario">
        Ingrese número de despacho para eliminar<br>
        <input type="integer" name="txt_numDesp"><br>
        <input type="submit" value="Eliminar">    
    </form>
</body>
<footer class="footer">{% include "footer.html" %}</footer>
</html>