<!DOCTYPE html>
<html lang="en" class="notranslate" translate="no">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google" content="notranslate" />
    <title>Document</title>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_footer.css' %}">

</head>
<body>

    <footer class="bg-light text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#!" class="text-dark">Ingresar Despacho</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Listar Datos</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Eliminar Despacho</a>
                        </li>
                        <li>
                            <a href="#!" class="text-dark">Cambiar Estado Despacho</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contacto
                    </h6>
                    <p><i class="fas fa-home me-3"></i> Alameda 1930, Santiago, Chile </p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        contacto@naturalia.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> +58 234 567 88</p>
                </div>
                <!-- Grid column -->


            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright:
            <a class="text-dark" href="#">Naturalia</a>
        </div>
        <!-- Copyright -->
    </footer>

</body>
</html>