<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_head.css' %}">

    

</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="../index">
            <img  src="../static/img/5541650369_2e5c6fe4-b3cd-492f-8eb6-581c01e51882.png"  class="d-inline-block align-text-top">
          </a>
          <a class="link-nav" href="../ingresar">
              Ingresar despacho
          </a>
          <a class="link-nav" href="../listar">
              Listar Datos
          </a>
          <a class="link-nav" href="../eliminar">
              Eliminar despacho
          </a>
          <a class="link-nav" href="../modificar">
              Cambiar estado despacho
          </a>
        </div>
      </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

</body>
</html>