<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">


</head>
<body>
    {% include "header.html" %}
    <div class="contenido">
        <img class="cover" src="../static/img/5541650369_2e5c6fe4-b3cd-492f-8eb6-581c01e51882.png" alt="Logo naturalia">
        <div class="img-prod">
            <figure class="img-container">
                <img class="img" src="../static/img/Miel-Ulmo-Apinativa.jpg" alt="Miel de ulmo">
                <figcaption class="img-txt">Miel de Ulmo - Apinativa</figcaption>
                <figcaption class="img-deta">1 kilo</figcaption>
            </figure>
            <figure class="img-container">
                <img class="img" src="../static/img/avena-integral-organica-1kgmanare.jpg" alt="Avena integral">
                <figcaption class="img-txt">Avena Integral Orgánica - Manare</figcaption>
                <figcaption class="img-deta">1 kilo</figcaption>
            </figure>
            <figure class="img-container">
                <img class="img" src="../static/img/azucar-de-coco-organica-250-g-manare.jpg" alt="azucar de coco">
                <figcaption class="img-txt">Azúcar de Coco Orgánica - Manare</figcaption>
                <figcaption class="img-deta">250 gramos</figcaption>
            </figure>
        </div>
    </div>
    {% include "footer.html" %}
</body>
</html>