<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingresar Despacho</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_mod.css' %}">
</head>
<header>{% include "header.html" %}</header>
<body>
    
    <form action="/ingreso_producto/" method="GET" class="formulario">
        <table>
            <tr>
                <td>Número Despacho</td>
                <td><input type="integer" name="txt_numDesp"></td>
            </tr>
            <tr>
                <td>Nombre Cliente</td>
                <td><input type="text" name="txt_cliente"></td>
            </tr>
            <tr>
                <td>Dirección</td>
                <td><input type="text" name="txt_dirección"></td>
            </tr>
            <tr>
                <td>Teléfono</td>
                <td><input type="integer" name="txt_telefono"></td>
            </tr>
            <tr>
                <td>Nombre de productos</td>
                <td><input type="text" name="txt_producto"></td>
            </tr>
            <tr>
                <td>Peso (gramos)</td>
                <td><input type="integer" name="txt_peso"></td>
            </tr>
            <tr>
                <td>alto (cm)</td>
                <td><input type="integer" name="txt_alto"></td>
            </tr>
            <tr>
                <td>ancho (cm)</td>
                <td><input type="integer" name="txt_ancho"></td>
            </tr>
            <tr>
                <td>profundidad (cm)</td>
                <td><input type="integer" name="txt_profundidad"></td>
            </tr>
            <tr>
                <td>Fecha de ingreso pedido</td>
                <td><input type="date" name="txt_fecIng"></td>
            </tr>
            <tr>
                <td>Fecha de envío pedido</td>
                <td><input type="date" name="txt_fecEnv"></td>
            </tr>
            
            <tr>
                <td><input type="submit" value="Guardar" name=""></td>
                <td></td>
            </tr>
        </table>
      
    </form>
    

</body>
<footer class="footer" >{% include "footer.html" %}</footer>
</html>


