<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar productos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_mod.css' %}">
</head>
<header>
    {% include "header.html" %}
</header>
<body>
    
    <form action="/listar_desp/" method="GET">
            <table class="table">
        <thead>
          <tr>
            <th scope="col">Número despacho</th>
            <th scope="col">Nombre cliente</th>
            <th scope="col">Dirección</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Productos</th>
            <th scope="col">Peso paquete</th>
            <th scope="col">Alto paquete</th>
            <th scope="col">Ancho paquete</th>
            <th scope="col">Profundida paquete</th>
            <th scope="col">Fecha ingreso</th>
            <th scope="col">Fecha envío</th>
            <th scope="col">Estado</th>  
        
          </tr>
        </thead>
        <tbody>
            {% if Despacho %}
            {% for x in Despacho %}
            <tr>
                
                <td>{{ x.numeroDespacho }}</td>
                        <td>{{ x.nombreCliente }}</td>
                        <td>{{ x.dirCliente }}</td>
                        <td>{{ x.telCliente }}</td>
                        <td>{{ x.productos }}</td>
                        <td>{{ x.peso }}</td>
                        <td>{{ x.alto }}</td>
                        <td>{{ x.ancho }}</td>
                        <td>{{ x.profundidad }}</td>
                        <td>{{ x.fechaIngreso }}</td>
                        <td>{{ x.fechaEnvio }}</td>
                        <td>{{ x.estado }}</td>
            </tr>
            {% endfor %}
            {% else %}
                <h2>No existen registro de articulo</h2>
            {% endif %}
        </tbody>
      </table>
      <input type="submit" value="Listar Articulos">
    </form>


</body>
<footer class="footer" >
    {% include "footer.html" %}
</footer>
</html>