<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambiar estado envío</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style_mod.css' %}">

</head>
<header>
    {% include "header.html" %}

</header>
<body>


    <form action="/modificar_estado/" class="formulario">
        <fieldset>
          
          <div class="mb-3">
            <label for="TextInput" class="form-label">Ingrese número de despacho</label>
            <input type="text" id="TextInput" class="form-control" placeholder="" name="txt_numDesp">
          </div>
          <div class="mb-3">
            <label for="Select" class="form-label"></label>
            <select id="Select" class="form-select" name="txt_estado">
              <option disabled selected="true">Seleciona estado</option>
              <option value="Enviado">Enviado</option>
              <option value="Cancelado">Cancelado</option>
            </select>
          </div>
          <div class="mb-3">
            
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
      </form>
    

</body>
<footer class="footer">
    {% include "footer.html" %}
</footer>
</html>