.container-fluid{
    background: white;
}

.navbar-brand{
    height: 80px;
    padding: 0;
}

.d-inline-block{
    height: inherit;
}

.link-nav{
    text-decoration: none;
    color: #154458;
}


@media only screen and (max-width: 800px) {
   
    .container-fluid{
        display: flex;
        flex-direction: column;
    }

    .link-nav{
        padding-top: 3vw;
        width: 100%;
        text-align: center;
    }

  }