.contenido{
    display: inline-grid;
    justify-items: center;
}

.cover{
    width: 20vw;
    padding-bottom: 50px;
}

.img-prod{
    height: 50vw;
    display: flex;
}

.img-container{
    height: inherit;
    margin: 0 10px 0 0;;
}

.img{
    height: 65%
}

.img-txt{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    background-color: #ff9f00;
    width: 60%;
    border-radius: 0 0px 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.img-deta{
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    background-color: #ff9f00b5;
    width: 30%;
    border-radius: 0 0px 10px;
    padding-left: 10px;
    padding-right: 10px;
}
